### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk
backend/GestorTareas/.vs
backend/GestorTareas/GestorTareas.Tests/obj
backend/GestorTareas/GestorTareas.Tests/bin
backend/GestorTareas/GestorTareas.Infrastructure/obj
backend/GestorTareas/GestorTareas.Infrastructure/bin
backend/GestorTareas/GestorTareas.Domain/obj
backend/GestorTareas/GestorTareas.Domain/bin
backend/GestorTareas/GestorTareas.Application/obj
backend/GestorTareas/GestorTareas.Application/bin
backend/GestorTareas/GestorTareas.Api/obj
backend/GestorTareas/GestorTareas.Api/bin
backend/GestorTareas/GestorTareas.Api/appsettings.Development.json
